body {
  padding: 12px;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 200%;
  height: auto;
}

main {
  flex: 1;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.8px;
}

p {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}

li {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}


.wrapper {
  display:grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  max-width: 2000px;
}

.caseStudyHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #FDDC3D;
  padding: 1em;
}

.caseStudyTopPhoto {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caseStudyName {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.caseStudyName img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.caseStudyName p {
  color: #EBEBEB;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.prototypeButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    background-color: #FEA780;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 220px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin: 1em;
}

.prototypeButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.prototypeButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.prototypeButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.caseStudyAboutProjectBanner {
  grid-row: 3;
  grid-column: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #FDDC3D;
  display: flex;
}

.caseStudyAboutProjectBanner img {
  height: 64px;
  width: 64px;
}

.caseStudyAboutProjectBanner h1 {
  font-weight: 900;
  padding: 0.3em;
}

.toolsUsed {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.toolsUsed li {
  list-style-type: none;
}

.aboutProject {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.whatIDid {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.whatIDid li {
  list-style-type: none;
}

.caseStudyOverview {
  grid-row: 4/5;
  grid-column: 1;
  background-color: #E94545;
  padding: 4.5em;
}

.caseStudyOverview h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.caseStudyOverview p {
  color: #EBEBEB;
  font-weight: 400;
  width: 80%;
}

.caseStudyChallenge {
  grid-row: 5/6;
  grid-column: 1;
  background-color: #222222;
  padding: 4.5em;
}

.caseStudyChallenge h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.caseStudyChallenge p {
  color: #EBEBEB;
  font-weight: 400;
  width: 80%;
}

.challengeAndOverviewPicture {
  grid-row: 4/6;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8DAD7
}

.caseStudyAnswer {
  grid-row: 6;
  grid-column: 1/3;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.answerIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.answerTextBox {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.answerTextBox h1 {
  color: #222222;
  font-weight: 900;
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.answerTextBox p {
  color: #222222;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.caseStudyUserResearch {
  grid-row: 7;
  grid-column: 1/3;
  background-color: #E94545;
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.researchTitle h1 {
  color: #EBEBEB;
  font-weight: 900;
  text-align: center;
  padding-left: 0.5em;
}

.researchTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedbackBox {
  color: #EBEBEB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em;
}

.feedbackBox h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 0.5em;
}

.feedbackBox li {
  list-style-type: none;
}

.feedbackAndSurveyBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.surveyBox {
  color: #EBEBEB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em;
}

.surveyBox h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 0.5em;
}

.surveyBox li {
  list-style-type: none;
}

.feedbackAndSurveyBox img {
  color: #EBEBEB;
  padding: 4em;
}

.researchParagraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.researchParagraphs p {
  color: #EBEBEB;
  text-align: center;
  width: 60%;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.researchButtons {
  padding: 2em;
}

.userResearchButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    background-color: #FEA780;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 300px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin: 1em;
}

.userResearchButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.userResearchButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.userResearchButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.caseStudyAnalysis {
  grid-row: 8;
  grid-column: 1/3;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: row;
  padding: 5em;
}

.analysisParagraph h1 {
  font-weight: 900;
  color: #222222;
  padding-bottom: 1em;
}

.analysisParagraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.analysisParagraph p {
  width: 90%;
  color: #222222;
  font-weight: 400;
}

.competitorsPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competitorsPicture img {
  height: auto;
  max-width: 70%;
}

.caseStudyPersonaBox {
  grid-row: 9;
  grid-column: 1/3;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #222222;
  display: flex;
}

.personaHeaderText {
  align-items: center;
  padding-bottom: 3em;
}

.line img {
  padding: 3em;
  height: 800px;
  width: 2px;
}

.personaHeaderText h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-bottom: 1em;
  text-align: center;
}

.personaHeaderText p {
  color: #EBEBEB;
  font-weight: 700;
  text-align: center;
}

.flex-contain {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.willPersona {
  color: #EBEBEB;
  text-align: center;
}

.willPersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.willPersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.willPersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.willPersona img {
    width: 163px;
    height: 163px;
}

.katePersona {
  color: #EBEBEB;
  text-align: center;
}

.katePersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.katePersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.katePersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.katePersona img {
  width: 163px;
  height: 163px;
}

.alexPersona {
  color: #EBEBEB;
  text-align: center;
}

.alexPersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.alexPersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.alexPersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.alexPersona img {
  width: 163px;
  height: 163px;
}


.caseStudyUserStories {
  grid-row: 10;
  grid-column: 1/3;
  padding: 5em;
  background-color: #e94545;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caseStudyUserStories h2 {
  color: #EBEBEB;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
}

.caseStudyUserStories p {
  color: #EBEBEB;
  font-weight: 400;
  text-align: center;
  width: 60%;
}

.leftTextStories h1 {
  color: #EBEBEB;
  font-weight: 900;
  text-align: center;
}

.leftTextStories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftTextStories a {
  padding: 2em;
}

.leftTextStories p {
  padding-top: 2em;
  padding-bottom: 2em;
}

.caseStudyWireframes {
  grid-row: 11;
  grid-column: 1/3;
  padding: 3em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caseStudyWireframes h1 {
  color: #222222;
  font-weight: 900;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wireframeButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.caseStudyWireframes p {
  width: 60%;
  padding: 1em;
  text-align: center;
}

.caseStudyMockups {
  grid-row: 12;
  grid-column: 1/3;
  padding: 4em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caseStudyMockups h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding: 1em;
}

.caseStudyMockups p {
  color: #EBEBEB;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

.firstEditionMockups {
  grid-row: 13;
  grid-column: 1/3;
  width: 100%;
  background-color: #0D0D0D;
  display: flex;
  flex-direction: row;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.caseStudyMockupHome {
  width: 50%;
}

.caseStudyMockupDetails {
  width: 50%;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.caseStudyRoadblock {
  grid-row: 14;
  grid-column: 1/3;
  padding: 5em;
  background-color: #E94545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caseStudyRoadblock h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-bottom: 1em;
}

.caseStudyRoadblock p {
  color: #EBEBEB;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
}


.newProjectImages {
  grid-row: 15;
  grid-column: 1/3;
  width: 100%;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.caseStudyNewProject1 {
  width: 75%;
}

.caseStudyNewProject2 {
  width: 75%;
}

.caseStudyBranding {
  grid-row: 16;
  grid-column: 1/3;
  padding: 5em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brandingTextSide {
  font-weight: 700;
  color: #222222;
  padding-bottom: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brandingTextSide h1 {
  font-weight: 900;
  color: #222222;
  padding-bottom: 1em;
  text-align: center;
}

.brandingTextSide p {
  font-weight: 400;
  color: #222222;
  padding-bottom: 1em;
  text-align: center;
  width: 60%;
}

.boosterBranding {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boosterBranding img {
  height: auto;
}



.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.caseStudyUserTesting {
  grid-row: 17;
  grid-column: 1/3;
  padding: 5em;
  background-color: #E94545;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testingText h1 {
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 2em;
  margin-left: 0.5em;
}

.testingText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testingText p {
  color: #EBEBEB;
  font-weight: 400;
  width: 60%;
  text-align: center;
}

.userTestingButton {
  padding: 3em;
}

.caseStudyConclusion {
  grid-row: 18;
  grid-column: 1/3;
  padding: 3em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.caseStudyConclusion h1 {
  font-weight: 900;
  color: #222222;
}

.caseStudyConclusion p {
  font-weight: 400;
  color: #222222;
  padding: 3em;
  width: 60%;
}

.backToTopButton {
  grid-row: 19;
  grid-column: 1/3;
  padding: 2em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.back-to-top {
	position: fixed;
	right: 1%;
	bottom: -7.5%;
	height: 15px;
	width: 40px;
	font-size: 10px;
	font-weight: bold;
	color: transparent;
	opacity: 0.5;
	z-index: 3;
	visibility: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	background-color: #858585;

	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;
}

.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}

.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}

.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}

/*
*
* MEDIA QUERIES
*
*/


@media screen and (max-width: 480px) {
  div.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyHeader {
    grid-area: 1;
    background-color: #FDDC3D;
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
    div.caseStudyName {
    grid-area: 2;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.caseStudyName img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.caseStudyName p {
  color: #EBEBEB;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyTopPhoto {
    grid-area: 3;
    flex-direction: column;
    float: left;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyAboutProjectBanner {
    grid-area: 4;
    flex-direction: column;
    float: left;
    padding: 2em;
  }

  div.toolsUsed {
  flex-direction: column;
  width: auto;
}

  div.aboutProject {
  flex-direction: column;
  width: auto;
}

  div.whatIDid {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyOverview {
      grid-area: 5;
      background-color: #E94545;
      padding: 2em;
    }
    div.overviewTextBox {
    }
    div.overviewTextBox h1 {
      font-weight: 900;
      padding: 1em;
    }
    div.overviewTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyChallenge {
    grid-area: 6;
    background-color: #222222;
    padding: 4em;
    }
    div.challengeTextBox h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }
    div.challengeTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.challengeAndOverviewPicture {
      grid-area: 7;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #D8DAD7
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyAnswer {
      grid-area: 8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3em;
    }

    div.answerIcon {
      padding-top: 1em;
    }

    div.answerTextBox {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    div.answerTextBox h1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    div.answerTextBox p {
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyUserResearch {
    grid-area: 9;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    div.feedbackAndSurveyBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
      div.researchParagraphs p {
        font-size: 17px;
        width: 102%;
        }
}

@media screen and (max-width: 480px) {
  div.caseStudyAnalysis {
    grid-area: 10;
    padding-bottom: 4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  div.competitorsPicture {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  div.competitorsPicture img {
    width: 50%;
    height: 50%;
  }
  div.analysisHeading h1 {
    padding-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.analysisParagraph p {
    width: 80%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.analysisParagraph {
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyPersonaBox, .flex-contain {
    grid-area: 11;
    flex-direction: column;
    float: left;
    padding: 2em;
  }
  div.line img {
    width: 0;
    height: 0;
  }
  div.willPersona {
  flex-direction: column;
  width: auto;
}
  div.willPersona p {
    width: 100%;
}
  div.katePersona {
  flex-direction: column;
  width: auto;
}
  div.alexPersona {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyUserStories {
    grid-area: 12;
    padding: 4em;
  }
  div.leftTextStories p {
    width: 80%;
  }
  div.leftTextStories h2 {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyWireframes {
    grid-area: 13;
  }
  div.wireframeButtons {
    flex-direction: column;
  }
  div.caseStudyWireframes p {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyMockups {
    grid-area: 14;
    text-align: center;
    padding: 2em;
  }
  div.caseStudyMockups h1 {
    width: 95%;
  }
  div.caseStudyMockups p {
    width: 103%;
  }
}

@media screen and (max-width: 480px) {
  div.firstEditionMockups {
    flex-direction: column;
    grid-area: 15;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyMockupDetails {
    grid-area: 16;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyRoadblock {
    grid-area: 17;
    text-align: center;
    padding: 2em;
  }
  div.caseStudyRoadblock h1 {
    width: 95%;
  }
  div.caseStudyRoadblock p {
    width: 103%;
  }
}

@media screen and (max-width: 480px) {
  div.newProjectImages {
    grid-area: 18;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyNewProject1 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyNewProject2 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyBranding {
    grid-area: 19;
  }
  div.brandingTextSide h1 {

  }
  div.brandingTextSide p {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyUserTesting {
    grid-area: 20;
    text-align: center;
    padding-top: 3em;
  }
  div.testingText h1 {
    padding-top: 2em;
  }
  div.testingText p {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyConclusion {
    grid-area: 21;
    padding: 1em;
    text-align: center;
  }
  div.caseStudyConclusion h1 {
    padding-top: 2em;
  }
  div.caseStudyConclusion p {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  div.backToTopButton {
    grid-area: 22;
  }
}

/*
*
*
*
*/


@media screen and (max-width: 768px) {
  div.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyHeader {
    grid-area: 1;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
    div.caseStudyName {
    grid-area: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.caseStudyName img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.caseStudyName p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyTopPhoto {
    grid-area: 3;
    flex-direction: column;
    float: left;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyAboutProjectBanner {
    grid-area: 4;
    flex-direction: column;
  }

  div.toolsUsed {
  flex-direction: column;
  width: auto;
}

  div.aboutProject {
  flex-direction: column;
  width: auto;

}

  div.whatIDid {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyOverview {
      grid-area: 5;
      padding: 1em;
      padding-bottom: 3em;
    }
    div.overviewTextBox h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }
    div.overviewTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyChallenge {
    grid-area: 6;
    padding: 1em;
    padding-bottom: 3em;
    }
    div.challengeTextBox h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }
    div.challengeTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
  div.challengeAndOverviewPicture {
      grid-area: 7;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyAnswer {
      grid-area: 8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;
    }
    div.answerIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    div.answerTextBox {
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    div.answerTextBox h1 {
      font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    div.answerTextBox p {
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyUserResearch {
    grid-area: 9;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyAnalysis {
    grid-area: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    }
  div.competitorsPicture {
    padding-top: 3em;
  }
  div.analysisHeading {
    text-align: center;
  }
  div.analysisParagraph p {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyPersonaBox, .flex-contain {
    grid-area: 11;
    flex-direction: column;
    float: left;
    padding: 2em;
  }
  div.line img {
    width: 0;
    height: 0;
  }
  div.willPersona {
  flex-direction: column;
  width: auto;
}
  div.willPersona p {
    width: 100%;
}
  div.katePersona {
  flex-direction: column;
  width: auto;
}
  div.alexPersona {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyUserStories {
    grid-area: 12;
    padding: 3em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyWireframes {
    grid-area: 13;
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyMockups {
    grid-area: 14;
    text-align: center;
    padding: 3em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyMockupHome {
    grid-area: 15;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyRoadblock {
    grid-area: 16;
    text-align: center;
    padding: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  div.newProjectImages {
    grid-area: 17;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyNewProject1 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyNewProject2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyBranding {
    grid-area: 18;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyUserTesting {
    grid-area: 19;
    text-align: center;
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyConclusion {
    grid-area: 20;

  }
}

@media screen and (max-width: 768px) {
  div.backToTopButton {
    grid-area: 21;
  }
}


/*
*
*
*
*/



@media screen and (min-width: 1200px) {
  .flex-contain {
    width: 700px;
  }
}
