body {
  padding: 12px;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 200%;
  height: auto;
}

main {
  flex: 1;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.8px;
}

p {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}

li {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}


.wrapper {
  display:grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  max-width: 2000px;
}

.caseStudyHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #FDDC3D;
  padding: 1em;
}

.caseStudyTopPhoto {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caseStudyName {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.caseStudyName img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 64px;
  width: 270px;
  padding-bottom: 2em;
}

.caseStudyName p {
  color: #EBEBEB;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.prototypeButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    background-color: #FEA780;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 220px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin: 1em;
}

.prototypeButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.prototypeButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.prototypeButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.caseStudyAboutProjectBanner {
  grid-row: 3;
  grid-column: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #FDDC3D;
  display: flex;
}

.caseStudyAboutProjectBanner img {
  height: 64px;
  width: 64px;
}

.caseStudyAboutProjectBanner h1 {
  font-weight: 900;
  padding: 0.3em;
}

.toolsUsed {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.toolsUsed li {
  list-style-type: none;
}

.aboutProject {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.whatIDid {
  width: 100%;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}

.whatIDid li {
  list-style-type: none;
}

.caseStudyOverview {
  grid-row: 4/5;
  grid-column: 1;
  background-color: #9E8BAC;
  padding: 4.5em;
}

.caseStudyOverview h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-bottom: 0.5em;
}

.caseStudyOverview p {
  color: #EBEBEB;
  font-weight: 400;
  width: 80%;
}

.caseStudyChallenge {
  grid-row: 5/6;
  grid-column: 1;
  background-color: #222222;
  padding: 4.5em;
}

.caseStudyChallenge h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-bottom: 0.5em;
}

.caseStudyChallenge p {
  color: #EBEBEB;
  font-weight: 400;
  width: 80%;
}

.challengeAndOverviewPicture {
  grid-row: 4/6;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCDEDC
}

.caseStudyAnswer {
  grid-row: 6;
  grid-column: 1/3;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.answerIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.answerTextBox {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.answerTextBox h1 {
  color: #222222;
  font-weight: 900;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 80%;
  margin: 0 auto;
}

.answerTextBox p {
  color: #222222;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 80%;
  margin: 0 auto;
}

.caseStudyUserResearch {
  grid-row: 7;
  grid-column: 1/3;
  background-color: #9E8BAC;
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.researchTitle h1 {
  color: #EBEBEB;
  font-weight: 900;
  text-align: center;
}

.researchTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedbackBox {
  color: #EBEBEB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.feedbackBox h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 0.5em;
}

.feedbackBox li {
  list-style-type: none;
}

.feedbackAndSurveyBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.surveyBox {
  color: #EBEBEB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.surveyBox h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 0.5em;
}

.surveyBox li {
  list-style-type: none;
}

.feedbackAndSurveyBox img {
  color: #EBEBEB;
  padding: 4em;
}

.researchParagraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.researchParagraphs p {
  color: #EBEBEB;
  text-align: center;
  width: 60%;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.researchButtons {
  padding: 2em;
}

.userResearchButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    background-color: #FEA780;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin: 1em;
}

.userResearchButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.userResearchButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.userResearchButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.caseStudyAnalysis {
  grid-row: 8;
  grid-column: 1/3;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5em;
}

.textSide {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.analysisHeading h1 {
  font-weight: 900;
  padding-bottom: 1em;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.competitorsPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competitorsPicture img {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

.analysisParagraph {
  color: #222222;
  font-weight: 600;
}

.analysisParagraph p {
  width: 80%;
}



.caseStudyPersonaBox {
  grid-row: 9;
  grid-column: 1/3;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #222222;
}

.personaHeaderText {
  align-items: center;
  padding-bottom: 3em;
}

.personaHeaderText h1 {
  color: #EBEBEB;
  font-weight: 900;
  padding-bottom: 1em;
  text-align: center;
}

.personaHeaderText p {
  color: #EBEBEB;
  text-align: center;
}

.line img {
  padding: 3em;
  height: 800px;
  width: 2px;
}

.flex-contain {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.eljamPersona {
  color: #EBEBEB;
  text-align: center;
  width: 100%;
}

.eljamPersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.eljamPersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.eljamPersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.eljamPersona img {
    width: 163px;
    height: 163px;
}

.nataliePersona {
  color: #EBEBEB;
  text-align: center;
  width: 100%;
}

.nataliePersona img {
  width: 163px;
  height: 163px;
}

.nataliePersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.nataliePersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.nataliePersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.roshanPersona {
  color: #EBEBEB;
  text-align: center;
  width: 100%;
}

.roshanPersona img {
  width: 163px;
  height: 163px;
}

.roshanPersona h1 {
  font-weight: 700;
  padding-top: 1em;
}

.roshanPersona h2 {
  font-weight: 400;
  padding-bottom: 1em;
}

.roshanPersona h3 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.caseStudyUserStories {
  grid-row: 10;
  grid-column: 1/3;
  padding: 5em;
  background-color: #9E8BAC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caseStudyUserStories h2 {
  color: #EBEBEB;
  font-weight: 800;
  text-align: center;
}

.caseStudyUserStories p {
  color: #EBEBEB;
  font-weight: 400;
  text-align: center;
  width: 60%;
}

.leftTextStories h1 {
  color: #EBEBEB;
  font-weight: 900;
  text-align: center;
}

.leftTextStories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftTextStories a {
  padding: 2em;
}

.leftTextStories p {
  padding-top: 2em;
  padding-bottom: 2em;
}


.caseStudyWireframes {
  grid-row: 11;
  grid-column: 1/3;
  padding: 5em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caseStudyWireframes h1 {
  color: #222222;
  font-weight: 900;
}

.caseStudyWireframes img {
    max-width: 100%;
    height: auto;
}

.caseStudyWireframes p {
  color: #222222;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
  width: 60%;
}

.caseStudyMockups {
  grid-row: 12;
  grid-column: 1/3;
  padding: 6em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caseStudyMockups h1 {
  color: #EBEBEB;
  font-weight: 800;
  padding-bottom: 1em;
  font-size: 30px;
  font-weight: 900;
}

.caseStudyMockups p {
  color: #EBEBEB;
  font-weight: 400;
  text-align: center;
  width: 60%;
}

.caseStudyMockupBothHomePages {
  grid-row: 13;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.caseStudyMockupBothHomePages img {
  width: 50%;
}


.caseStudyBranding {
  grid-row: 14;
  grid-column: 1/3;
  padding: 5em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.concordBrandingTextSide {
  font-weight: 700;
  color: #222222;
  text-align: center;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.concordBrandingTextSide p {
  width: 60%;
}

.concordBrandingPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.concordBrandingPhoto img {
  max-width: 100%;
  height: auto;
}

.concordBrandingTextSide h1 {
  font-weight: 900;
  color: #222222;
  padding-bottom: 1em;
}


.caseStudyUserTesting {
  grid-row: 15;
  grid-column: 1/3;
  padding: 5em;
  background-color: #9E8BAC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testingText h1 {
  font-weight: 900;
  color: #EBEBEB;
  text-align: center;
  padding-bottom: 2em;
}

.userTestingButton {
  padding: 3em;
}

.testingText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testingText p {
  color: #EBEBEB;
  font-weight: 400;
  width: 60%;
}

.caseStudyConclusion {
  grid-row: 16;
  grid-column: 1/3;
  padding: 3em;
  background-color: #FDDC3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.caseStudyConclusion h1 {
  font-weight: 900;
  color: #222222;
}

.caseStudyConclusion p {
  font-weight: 400;
  color: #222222;
  padding: 3em;
  width: 60%
}

.caseStudyConclusion img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backToTopButton {
  grid-row: 17;
  grid-column: 1/3;
  padding: 3em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-top {
	position: fixed;
	right: 1%;
	bottom: -7.5%;
	height: 15px;
	width: 40px;
	font-size: 10px;
	font-weight: bold;
	color: transparent;
	opacity: 0.5;
	z-index: 3;
	visibility: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	background-color: #858585;
	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;
}

.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}

.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}

.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}


/*
*
* MEDIA QUERIES
*
*/


@media screen and (max-width: 480px) {
  div.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyHeader {
    grid-area: 1;
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
    div.caseStudyName {
    grid-area: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.caseStudyName img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.caseStudyName p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyTopPhoto {
   background-image:url('../images/bg.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyAboutProjectBanner {
    grid-area: 4;
    flex-direction: column;
    float: left;
    padding: 2em;
  }

  div.toolsUsed {
  flex-direction: column;
  width: auto;
}

  div.aboutProject {
  flex-direction: column;
  width: auto;
}

  div.whatIDid {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 480px) {
  div.caseStudyOverview {
      grid-area: 5;
      padding: 4em;
    }

    div.caseStudyOverview h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }

    div.caseStudyOverview p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyChallenge {
    grid-area: 7;
    padding: 4em;
    }
    div.caseStudyChallenge h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }

    div.caseStudyChallenge p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.challengeAndOverviewPicture {
      grid-area: 6;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyAnswer {
      grid-area: 8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3em;
    }

    div.answerIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 1em;
    }

    div.answerTextBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    div.answerTextBox h1 {
      font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    div.answerTextBox p {
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  div.caseStudyUserResearch {
    grid-area: 9;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    div.feedbackAndSurveyBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
      div.researchParagraphs p {
        font-size: 17px;
        width: 100%;
        }
}

@media screen and (max-width: 480px) {
  div.caseStudyAnalysis {
    grid-area: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    }
  div.competitorsPicture {
    padding-top: 3em;
  }
  div.analysisHeading {
    text-align: center;
  }
  div.analysisParagraph p {
    width: 100%;
  }
}

  @media screen and (max-width: 480px) {
    div.caseStudyPersonaBox, .flex-contain {
      grid-area: 11;
      flex-direction: column;
      float: left;
    }
    div.line img {
      width: 0;
      height: 0;
    }
    div.eljamPersona {
    flex-direction: column;
    width: auto;
  }
    div.nataliePersona {
    flex-direction: column;
    width: auto;
  }
    div.roshanPersona {
    flex-direction: column;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyUserStories {
    grid-area: 12;
    padding: 3em;
  }
  div.leftTextStories p {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyWireframes {
    grid-area: 13;
    padding: 3em;
  }
  div.caseStudyWireframes p {
    width: 100%;
  }
  div.caseStudyWireframes h1 {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyMockups {
    grid-area: 14;
    text-align: center;
    padding: 2em;
  }
  div.caseStudyMockups p {
    width: 105%;
  }
  div.caseStudyMockups h1 {
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyMockupBothHomePages {
    grid-area: 15;
    flex-direction: column;
  }
  div.caseStudyMockupBothHomePages img {
    width: 100%;
  }
}


@media screen and (max-width: 480px) {
  div.caseStudyBranding {
    grid-area: 16;
    padding: 2em;
  }
  div.caseStudyBranding p {
    width: 100%;
  }
  div.caseStudyBranding h1 {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyUserTesting {
    grid-area: 17;
    text-align: center;
    padding: 2em;
  }
  div.testingText p {
    font-size: 17px;
    width: 103%;
  }
  div.testingText h1 {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  div.caseStudyConclusion {
    grid-area: 18;
    padding: 1em;
    text-align: center;
  }
  div.caseStudyConclusion p {
    text-align: center;
    width: 95%;
  }
  div.caseStudyConclusion h1 {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  div.backToTopButton {
    grid-area: 19;

  }
}

/*
*
*
*
*/


@media screen and (max-width: 768px) {
  div.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyHeader {
    grid-area: 1;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
    div.caseStudyName {
    grid-area: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.caseStudyName img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.caseStudyName p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyTopPhoto {
    grid-area: 3;
    flex-direction: column;
    float: left;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyAboutProjectBanner {
    grid-area: 4;
    flex-direction: column;
  }

  div.toolsUsed {
  flex-direction: column;
  width: auto;
}

  div.aboutProject {
  flex-direction: column;
  width: auto;

}

  div.whatIDid {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyOverview {
      grid-area: 5;
      padding: 3em;
    }
    div.overviewTextBox h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }
    div.overviewTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyChallenge {
    grid-area: 7;
    padding: 3em;
    }
    div.challengeTextBox h1 {
      font-weight: 900;
      padding-bottom: 0.5em;
      text-align: center;
    }
    div.challengeTextBox p {
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
  div.challengeAndOverviewPicture {
      grid-area: 6;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyAnswer {
      grid-area: 8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;
    }
    div.answerIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    div.answerTextBox {
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    div.answerTextBox h1 {
      font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    div.answerTextBox p {
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyUserResearch {
    grid-area: 9;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
  div.caseStudyAnalysis {
    grid-area: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    }
  div.competitorsPicture {
    padding-top: 3em;
  }
  div.analysisHeading {
    text-align: center;
  }
  div.analysisParagraph p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyPersonaBox, .flex-contain {
    grid-area: 11;
    flex-direction: column;
    float: left;
  }
  div.line img {
    width: 0;
    height: 0;
  }
  div.eljamPersona {
  flex-direction: column;
  width: auto;
}
  div.nataliePersona {
  flex-direction: column;
  width: auto;
}
  div.roshanPersona {
  flex-direction: column;
  width: auto;
}
}

@media screen and (max-width: 768px) {
  div.caseStudyUserStories {
    grid-area: 12;
    padding: 3em;
  }
  div.leftTextStories p  {
    width: 90%;
  }
  div.leftTextStories h1 {
    width: 70%;
  }
  div.leftTextStories h1 {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyWireframes {
    grid-area: 13;
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyMockups {
    grid-area: 14;
    text-align: center;
    padding: 3em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyMockupBothHomePages {
    grid-area: 15;
    flex-direction: column;
  }
  div.caseStudyMockupBothHomePages img {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  div.caseStudyBranding {
    grid-area: 16;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyUserTesting {
    grid-area: 17;
    text-align: center;
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  div.caseStudyConclusion {
    grid-area: 18;

  }
}

@media screen and (max-width: 768px) {
  div.backToTopButton {
    grid-area: 19;

  }
}
