body {
  padding: 12px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

main {
  flex: 1;
}


@media (min-width: 768px) {
.wrapper {
  display:grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
}
}

  @media screen and (min-width: 23em) {
  .box1 {
    grid-row: 1;
    grid-column: 1;
    background: #FDDC3D;
    padding-top: 6em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Raleway', sans-serif;
  }
}

  .box1icon img {
    padding-left: 38%;
    padding-bottom: 10%;
    width: 22%;
    height: 22%;
  }

  .text1box {
    padding-top: 1em;
  }

  .text1box h1 {
	  font-size: 40px;
	  font-weight: normal;
    padding-left: 9%;
    margin: auto;
}

  .text1box h2 {
	  font-size: 35px;
	  font-weight: bold;
    padding-left: 9%;
}

  .text1box p {
    font-size: 22px;
    font-weight: 300;
    padding-left: 9%;
}

@media screen and (min-width: 23em) {
  .box2 {
    grid-row: 1/2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050505;
  }

  .box2 img {
    float: left;
    object-fit: cover;
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 23em) {
  .box3 {
    grid-row: 2/4;
    grid-column: 1;
    display: flex;
  }
}

  .box3 img {
    float: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

@media screen and (min-width: 23em) {
  .box4 {
    grid-row: 2/4;
    grid-column: 2;
    background: #E94545;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

  .box4 img {
    padding-bottom: 10%;
    object-fit: cover;
  }

  .box4 a {
    text-decoration: none;
    color: #FFFFFF;
  }


.button1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: inline-block;
  background-color: #FEA780;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  background-color: #FEA780
}

.button1:active {
  background-color: #FEA780;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 23em) {
  .box5 {
    grid-row: 4/6;
    grid-column: 1;
    text-align: center;
    background: #9E8BAC;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .box5 img {
    padding-bottom: 10%;
    object-fit: cover;
  }

  .box5 a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

  .button2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
    background-color: #FEA780;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button2 {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button2:hover {
    background-color: #FEA780
  }

  .button2:active {
    background-color: #FEA780;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button2:hover span {
    padding-right: 25px;
  }

  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }

@media screen and (min-width: 23em) {
  .box6 {
    grid-row: 4/6;
    grid-column: 2;
    display: flex;
  }
}

  .box6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (min-width: 23em) {
  .box8 {
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #FDDC3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    font-family: 'Raleway', sans-serif;
  }
}

  .box8 a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 1em;
  }

  .box8 h1 {
    font-size: 30px;
    font-weight: 400;
  }

.box8icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  .box8icons a {
    padding: 0.7em;
  }

  .box8 h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
