body {
  padding: 12px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

main {
  flex: 1;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.8px;
}

p {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

h2 {
  letter-spacing: 0.5px;
}

.wrapper {
  display:grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

  .box1 {
    grid-row: 1;
    grid-column: 1;
    background: #FDDC3D;
    padding: 4em;
    font-family: 'Raleway', sans-serif;
  }

  .box1icon img {
    max-width: 100%;
    height: auto;
  }

.box1icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .text1box {
    padding-top: 13em;
  }

  .text1box h1 {
	  font-size: 42px;
    font-weight: bold;
    padding-bottom: 0.3em;
}

  .text1box h2 {
	  font-size: 32px;
	  font-weight: 600;
    padding-bottom: 0.5em;
}

  .text1box p {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

  .box2 {
    grid-row: 1/2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050505;
  }

  .box2 img {
    float: left;
    object-fit: cover;
    width: 80%;
    height: 80%;
  }


  .box3 {
    grid-row: 2/4;
    grid-column: 1;
    display: flex;
  }

  .box3 img {
    float: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  .box4 {
    grid-row: 2/4;
    grid-column: 2;
    background: #E94545;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box4 img {
    padding-bottom: 5%;
    object-fit: cover;
  }

  .box4 a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .box4 p {
    color: #EBEBEB;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    line-height: 28px;
    letter-spacing: 0.5px;
    width: 60%;
  }


.button1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: inline-block;
  background-color: #FEA780;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  background-color: #FEA780
}

.button1:active {
  background-color: #FEA780;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


  .box5 {
    grid-row: 4/6;
    grid-column: 1;
    text-align: center;
    background: #9E8BAC;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .box5 img {
    padding-bottom: 5%;
    object-fit: cover;
  }

  .box5 a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .box5 p {
    color: #EBEBEB;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    line-height: 28px;
    letter-spacing: 0.5px;
    width: 60%;
  }

  .button2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
    background-color: #FEA780;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button2 {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button2:hover {
    background-color: #FEA780
  }

  .button2:active {
    background-color: #FEA780;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button2:hover span {
    padding-right: 25px;
  }

  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }


  .box6 {
    grid-row: 4/6;
    grid-column: 2;
    display: flex;
  }

  .box6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box7 {
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #FDDC3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
  }

  .box7 a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #222222;
  }

  .box8 {
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #FDDC3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
  }

  .box8 a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 1em;
  }

  .box8 h1 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 1em;
  }

.box8icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

  .box8icons a {
    padding: 0.7em;
  }

  .box8 h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}



/*
*
* MEDIA QUERIES
*
*/

@media screen and (max-width: 480px) {
  section.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
section.box1 {
  grid-area: 1;
  background: #FDDC3D;
  padding: 3em;
  font-family: 'Raleway', sans-serif;
}

section.text1box h1 {
  font-size: 25px;
}

section.text1box {
  padding-top: 5em;
}

section.box1icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.text1box h2 {
  font-size: 23px;
}
section.text1box br {
  display: none;
}
section.text1box p {
  font-size: 20px;
}
}

@media screen and (max-width: 480px) {
  section.box2 {
    grid-area: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050505;
  }

  .box2 img {
    float: left;
    object-fit: cover;
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 480px) {
  section.box3 {
    grid-area: 3;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  section.box4 {
    grid-area: 4;
    background: #E94545;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section.box4 p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  section.box4 {
  }
  .button1{
    font-size: 18px;
    padding: 18px;
    width: 215px;
  }
}

@media screen and (max-width: 480px) {
  section.box5 {
    grid-area: 6;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box5 img {
    padding-bottom: 10%;
    object-fit: cover;
  }
  .box5 a {
    text-decoration: none;
    color: #FFFFFF;
  }
  section.box5 p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  section.box5 {
  }
  .button2 {
    font-size: 18px;
    padding: 18px;
    width: 215px;
  }
}

@media screen and (max-width: 480px) {
  section.box6 {
    grid-area: 5;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  section.box7 {
    grid-area: 7;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  section.box8 {
    grid-area: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
  }
}

/*
*
*
*TABLET
*
*/

@media screen and (max-width: 768px) {
  section.wrapper {
    display:grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
section.box1 {
  grid-area: 1;
  background: #FDDC3D;
  padding: 3em;
  font-family: 'Raleway', sans-serif;
}
section.box1 h1 {
  font-size: 25px;
  text-align: center;
}
section.box1icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.box1 h2 {
  font-size: 23px;
  text-align: center;
}
section.text1box br {
  display: none;
}
section.box1 p {
  font-size: 20px;
  text-align: center;
}
}

@media screen and (max-width: 768px) {
  section.box2 {
    grid-area: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050505;
  }

  .box2 img {
    float: left;
    object-fit: cover;
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 768px) {
  section.box3 {
    grid-area: 3;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  section.box4 {
    grid-area: 4;
    background: #E94545;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  section.box5 {
    grid-area: 6;
    text-align: center;
    background: #9E8BAC;
    padding-top: 20%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .box5 img {
    padding-bottom: 10%;
    object-fit: cover;
  }

  .box5 a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 768px) {
  section.box6 {
    grid-area: 5;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  section.box7 {
    grid-area: 7;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  section.box8 {
    grid-area: 8;
    background: #FDDC3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
  }
}
