.wrapper {
  display:grid;
  grid-gap: 12px;
  width: 800px;
  grid-template-columns: 300px 10% 1fr 1fr;
  grid-template-rows: auto;
}

  .wrapper > div{
    background: #eee;
  }
  .wrapper > div:nth-child(odd){
    background: #ddd;
  }

  .box1 {
    grid-row: 1fr;
    grid-column: 1/2;
    height: 463px;
    width: 494px;
  }

  .box2 {
    grid-row: 2fr;
    grid-column: 1fr;
    height: 634px;
    width: 494px;
  }

  div.box2 {
    padding: 0;
  }

  div.box2 img {
    width: auto;
    height: 100%;
    margin-left: -15%;
  }

  .box3 {
    grid-row: 1fr;
    grid-column: 2fr;
    height: 501px;
    width: 494px;
    overflow: hidden;
  }

  .box4 {
    grid-row: 2fr;
    grid-column: 2fr;
    height: 330px;
    text-align: center;
    width: 494px;
  }

  .box5 {
    grid-row: 3fr;
    grid-column: 1fr;
    height: 330px;
    text-align: center;
    width: 494px;
  }

  .box6 {
    grid-row: 3fr;
    grid-column: 2fr;
    height: 501px;
    width: 494px;
    overflow: hidden;
  }

  .box7 {
    grid-row: 4fr;
    grid-column: 1fr;
    height: 160px;
    width: 494px;
  }

  .box8 {
    grid-row: 5 / span 8;
    grid-column: 1;
    height: 237px;
    width: 1000px;
  }
